.wrapper {
    display: inline-block;
}

.btn {
    padding: 0.5em 1em;
    font-size: 1em; 
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &.primary {
        background-color: black;
        color: white;
        &:hover {
            border: 1px solid black; 
            color: black;
            background-color: white;
        }
    }
    &.secondary {
        background-color: #d70000;
        color: #fff;
        &:hover {
            border: 1px solid #d70000; 
            color: #d70000;
            background-color: white;
        }
    }
}
