.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/roadtrip-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  width: 100%;
}